{% extends "base.html" %}

{% block title %}
Panorama Weltkarte &mdash; {{ SITENAME }}
{% endblock %}

{% block javascript %}
{{ super() }}
<script src="{{ SITEURL }}/theme/js/leaflet.js"></script>
{% endblock javascript %}

{% block pannellum %}
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/leaflet.css" />
{% endblock pannellum %}
    

{% block content %}
<div class="pure-g" id="worldmap">
</div>
<p>{{ page.content }}</p>
{% endblock content %}


{% block footer_javascript %}
{{ super() }}
<script type="text/javascript" src="{{ SITEURL }}/theme/js/worldmap.js"></script>
{% endblock footer_javascript %}
