{% extends "base.html" %}
{% block title %}
    {{ article.title}} &mdash; {{ SITENAME }}
{% endblock title %}

{% block pannellum %}
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/leaflet.css" />
{% endblock pannellum %}

{% block content %}


<section id="content" class="body panorama">
  <div class="row entry-content">
      <div class="large-12 columns">
          <iframe id="pannellum" src="{{ PANNELLUM.tile_url }}/pannellum.html?tour={{ article.scene }}/tour.json"
            allowfullscreen
            title="pannellum panorama viewer"></iframe>
      </div>
  </div>
  <div class="row">
      <div class="large-12 columns">
          <header>
            <h2 class="entry-title">
              <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                 title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                <p class="post-info">
                    <span title="{{ article.date.isoformat() }}">
                    {{ article.locale_date }}</span> /
                  {% if article.category %}
                  <a href="{{ SITEURL }}/{{ article.category.url }}">{{
                  article.category }}</a>
                  {% endif %}
                </p>
          </header>
      </div>
  </div>
  <div class="row">
      <div class="large-4 columns">
          <h3>Description</h3>
          <p>{{ article.content }}</p>
      </div>
      <div class="large-4 columns">
          <h3>Details</h3>
        <table>
            <tr>
                <th>Camera</th>
                <td>{{ article.exif.make }} {{ article.exif.model }}</td>
            </tr>
            <tr>
                <th>Lens</th>
                <td>{{ article.exif.lens }}</td>
            </tr>
            <tr>
                <th>Größe</th>
                <td>{{ article.exif.width }}x{{ article.exif.height }}</td>
            </tr>
            <tr>
                <th>Belichtung</th>
                <td>{{ article.exif.exposure }}</td>
            </tr>
        </table>
          <p>exif {{ article.exif }}</p>
      </div>
      <div class="large-4 columns">
          <h3>Location</h3>
          <div id="map">
          </div>
      </div>
  </div>
  </div><!-- /.entry-content -->
  <footer class="post-info">
  {% if article.tags %}<ol class="inline-list">{% for tag in article.tags %}
  <li><a class="tiny button" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% endfor %}
  </li>{% endif %}
  </footer><!-- /.post-info -->
</section>
{% include 'previous-next.html' %}
{% endblock %}

{% block javascript %}
<script src="{{ SITEURL }}/theme/js/leaflet.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/panomap.js"></script>
{% endblock javascript %}

