{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {% block opengraph %}
    {{ super() }}
    <meta property="og:type" content="place" />
    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
    <meta property="og:image" content="{{ SITEURL }}/{{ PANNELLUM.sizes_folder }}/{{article.scene}}/{{article.scene}}-preview.jpg" />
    <meta property="place:location:latitude"  content="{{ article.exif.lat}}" /> 
    <meta property="place:location:longitude" content="{{ article.exif.lng}}" /> 
    {% endblock opengraph %}
    {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
    {% endfor %}
    {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
    {% endfor %}
    {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
    {% endfor %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/leaflet.css" />
{% endblock %}

{% block title %}
    {{ article.title}} &mdash; {{ SITENAME }}
{% endblock title %}

{% block content %}
<section id="content">

{% if article.scene %}
  <div class="pure-g panel">
      <div class="pure-u-1-1">
          <iframe id="pannellum" src="{{ PANNELLUM.tile_url }}/pannellum.html?tour={{ article.scene }}/tour.json"
            allowfullscreen
            title="pannellum panorama viewer"></iframe>
      </div>
  </div>
{% endif %}

  <div class="pure-g">
      <div class="pure-u-1">
          <header>
            <p class="post-meta">
               <span class="fa fa-calendar"></span> <span title="{{ article.date.isoformat() }}"> {{ article.locale_date }}</span>
                {% if article.modified %}
                    <span class="modified" title="{{ article.modified.isoformat() }}">
                        / {{ article.locale_modified }}
                    </span>
                {% endif %}
              {% if article.category %}
                    in <span class="fa fa-folder-o"></span> <a href="{{ SITEURL }}/{{ article.category.url }}">{{
              article.category }}</a>
              {% endif %}
            </p>
          
            <h2 class="post-title">
                 {{ article.title }}
            </h2>
                {% import 'translations.html' as translations with context %}
                {{ translations.translations_for(article) }}
            <ul class="post-meta keywords">
                {% for tag in article.tags %}
                    <li><span class="fa fa-tag"></span> <a href="{{ SITEURL }}/tag/{{ tag }}.html">{{ tag }}</a></li>
                {% endfor %}
            </ul>
          </header>
      </div>
  </div>

  <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
          <div class="l-box">
          <h3>Description</h3>
          <p>{{ article.content }}</p>
          </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-3">
          <div class="l-box">
          <h3>Details</h3>
            <table class="pure-table pure-table-bordered">
                <tbody>
                    <tr>
                        <th>Camera</th>
                        <td>{{ article.exif.make }} {{ article.exif.model }}</td>
                    </tr>
                    <tr>
                        <th>Lens</th>
                        <td>{{ article.exif.lens }}</td>
                    </tr>
                    <tr>
                        <th>Size</th>
                        <td>{{ article.exif.width }}x{{ article.exif.height }}</td>
                    </tr>
                    <tr>
                        <th>Exposure</th>
                        <td>1/{{ article.exif.exposure }}&nbsp;<abbr title="seconds">s</abbr></td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td>
                            <ul>
                            {% for comment in article.exif.comment %}
                                <li>{{ comment }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </tbody>    
            </table>
          <p>exif {{ article.exif }}</p>
          </div>
      </div>
  
      <div class="pure-u-1 pure-u-md-1-3">
          <div class="l-box">
              <h3>Location</h3>
              <div id="map">
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock %}

{% block footer %}
{% include 'previous-next.html' %}
{% endblock %}



{% block footer_javascript %}
{{ super() }}
<script src="{{ SITEURL }}/theme/js/leaflet.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/panomap.js"></script>
{% endblock footer_javascript %}
