<div class="pure-g post-navigation">

    <div class="post-previous pure-u-1-2">
    {% if article.prev_article %}
        <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
           <span>Previous</span>
           {{ article.prev_article.title }}
        </a>
    {% endif %}
    </div>

    <div class="post-next pure-u-1-2">
    {% if article.next_article %}
        <a href="{{ SITEURL }}/{{ article.next_article.url}}"
           title="{{ article.next_article.title }}">
            <span>Next</span>
           {{ article.next_article.title }}
        </a>
    {% endif %}
    </div>
</div>   
