body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    /*background: url("/theme/images/handmadepaper.png") repeat scroll 0 0 transparent;*/
}
.banner {
    height: 256px;
    background-repeat: repeat-x;
    background-position: center 0 ;
}
.banner h2 {
    margin-top: 165px;
}
.banner h2 a {
    color: #ffffff;
    text-shadow: 0 0 1px #000, 0 0 2px rgba(0, 0, 0, 0.9);
}
.doormat {
    margin-bottom: 0;
    background-color: #51454A;
    color: #ffffff;
}
h1, h2, h3, h4, h5 {
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    font-weight: 500;
}
h2.entry-title {
    margin-bottom: 0.1em;
    text-shadow: 1px 1px 0 #FFFFFF;
}

header {
    margin-bottom: 0.5em;
}
.top-bar .name img {
    height: 40px;
    padding-bottom: 5px;
}
.top-bar {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.top-bar,
.top-bar-section ul li,
.top-bar-section ul li.has-form,
.top-bar-section li:not(.has-form) a:not(.button)
{
    background-color: #ffffff;
}
.top-bar-section ul li > a {
    color: #51454A;
}
/*
.large-12 {
    padding-left: 0;
    padding-right: 0;
}*/
#post-list {
    list-style: none;
}
#post-list li {
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}
.post-info {
    margin-bottom: 0.25em;
    text-transform: uppercase;
    font-size: 0.8em;
}
.social a {
	background-repeat: no-repeat;
	background-position: 3px 2px;
	padding-left: 25px;
}

/* Icons */
.social a[href*='about.me'] {background-image: url('../images/icons/aboutme.png');}
.social a[href*='bitbucket.org'] {background-image: url('../images/icons/bitbucket.png');}
.social a[href*='delicious.com'] {background-image: url('../images/icons/delicious.png');}
.social a[href*='digg.com'] {background-image: url('../images/icons/digg.png');}
.social a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png');}
.social a[href*='gitorious.org'] {background-image: url('../images/icons/gitorious.png');}
.social a[href*='github.com'],
.social a[href*='git.io'] {background-image: url('../images/github.png');}

/* Salado Player */

#worldmap {
     height: 600px;
}
#map {
     height: 400px;
}
#pannellum {
    border-style:none;
    width:100%;
    height:400px;
}
.leaflet-popup-content-wrapper {
    border-radius: 2px;
}

.post-navigation div span {
    color: #999;
    display: block;
    font-size: 80%;
}
.post-previous {
    float: left;
    padding-left: 40px;
}
.post-next {
    float: right;
    padding-right: 40px;
    text-align: right;
}
.post-navigation div a:after {
    color: #ccc;
    font-size: 56px;
    height: 22px;
    line-height: 22px;
    margin-top: -11px;
    position: absolute;
    top: 34%;
}
.post-next a:after {
    content: "»";
    right: 0;
}
.post-previous a:after {
    content: "«";
    left: 0;
}
