html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
html, body, #container {
    height: 100%;
}

body > #container {
    height: auto;
    min-height: 100%;
}
#container {
    margin-bottom: 3em;
}
#footer {
    background-color: #fff;
    clear: both;
    position: fixed;
    z-index: 10;
    height: 3em;
    width: 100%;
    margin-top: -3em;
    bottom: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#footer .social {
    background: #0E2625;
}
.banner {
    height: 256px;
    background-repeat: repeat-x;
    background-position: center 0 ;
    color: #ffffff;
    text-shadow: 0 0 1px #000, 0 0 2px rgba(0, 0, 0, 0.9);
}
.banner h2 {
    margin: 0 0 3px 0;
    padding-top: 165px;
}
.banner h2 a {
    color: #fff;
    text-shadow: 0 0 1px #000, 0 0 2px rgba(0, 0, 0, 0.9);
}

.social ul {
    margin-top: 0;
    list-style: none;
    padding-left:0;
}
.social ul li {
    display: inline-block;
    height: 32px;
    width: 32px;
    margin: 0 0 0 15px;
}

.social a {
    background-image: url('../images/social-sprite.svg');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    text-indent: -999px;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.social a[href*='github']    {background-position: 0px 0px;}
.social a[href*='twitter']   {background-position: -32px 0px;}
.social a[href*='flickr']    {background-position: -64px 0px;}

.social a[href*='360cities'] {
    background-position: -96px 0px;
}
.social a.feed {
    background-position: -128px 0px;
}
.footer {
    background-color: #fff;
    opacity: 0.8;
}

#worldmap {
     height: 600px;
}
#map {
     height: 400px;
}

#pannellum {
    border-style:none;
    width:100%;
    height:400px;
}
.leaflet-popup-content-wrapper {
    border-radius: 2px;
}


/*
.post-navigation div span {
    color: #999;
    display: block;
    font-size: 80%;
}
.post-previous {
    float: left;
    padding-left: 40px;
}
.post-next {
    float: right;
    padding-right: 40px;
    text-align: right;
}
.post-navigation div a:after {
    color: #ccc;
    font-size: 56px;
    height: 22px;
    line-height: 22px;
    margin-top: -11px;
    position: absolute;
    top: 34%;
}
.post-next a:after {
    content: "»";
    right: 0;
}
.post-previous a:after {
    content: "«";
    left: 0;
}
*/

@media (min-width: 48em) {
    .panel {
        margin: 0 -3em;
    }
}
